<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,59}</string>
                <key>spriteSourceSize</key>
                <string>{56,59}</string>
                <key>textureRect</key>
                <string>{{634,95},{56,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banana.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,103}</string>
                <key>spriteSourceSize</key>
                <string>{138,103}</string>
                <key>textureRect</key>
                <string>{{428,29},{138,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2120,26}</string>
                <key>spriteSourceSize</key>
                <string>{2120,26}</string>
                <key>textureRect</key>
                <string>{{193,1},{2120,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coconut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,190}</string>
                <key>spriteSourceSize</key>
                <string>{189,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{189,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,113}</string>
                <key>spriteSourceSize</key>
                <string>{99,113}</string>
                <key>textureRect</key>
                <string>{{533,29},{99,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{62,64}</string>
                <key>textureRect</key>
                <string>{{634,29},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,50}</string>
                <key>spriteSourceSize</key>
                <string>{53,50}</string>
                <key>textureRect</key>
                <string>{{692,95},{53,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,107}</string>
                <key>spriteSourceSize</key>
                <string>{145,107}</string>
                <key>textureRect</key>
                <string>{{193,29},{145,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yam2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,124}</string>
                <key>spriteSourceSize</key>
                <string>{144,124}</string>
                <key>textureRect</key>
                <string>{{302,29},{144,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>items.pvr.ccz</string>
            <key>size</key>
            <string>{2314,191}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4315dca2bd815318e9cf61aaaa77bce4:5bcfcb5068898c6088828e726f352c2b:b1d64286d603fb998733a5f255b87e4b$</string>
            <key>textureFileName</key>
            <string>items.pvr.ccz</string>
        </dict>
    </dict>
</plist>
