<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,31}</string>
                <key>spriteSourceSize</key>
                <string>{44,31}</string>
                <key>textureRect</key>
                <string>{{767,21},{44,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>basket_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,19}</string>
                <key>spriteSourceSize</key>
                <string>{10,19}</string>
                <key>textureRect</key>
                <string>{{527,87},{10,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,62}</string>
                <key>spriteSourceSize</key>
                <string>{171,62}</string>
                <key>textureRect</key>
                <string>{{527,21},{171,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,77}</string>
                <key>spriteSourceSize</key>
                <string>{210,77}</string>
                <key>textureRect</key>
                <string>{{111,21},{210,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>needle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,25}</string>
                <key>spriteSourceSize</key>
                <string>{16,25}</string>
                <key>textureRect</key>
                <string>{{767,69},{16,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1260,13}</string>
                <key>spriteSourceSize</key>
                <string>{1260,13}</string>
                <key>textureRect</key>
                <string>{{111,4},{1260,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,75}</string>
                <key>spriteSourceSize</key>
                <string>{198,75}</string>
                <key>textureRect</key>
                <string>{{325,21},{198,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{103,96}</string>
                <key>textureRect</key>
                <string>{{4,4},{103,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{702,21},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.pvr.ccz</string>
            <key>size</key>
            <string>{1375,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e6fc7833d4b23429b3c0fadef971314:da3bbb509fef9d0febfd1638af9da33e:e611067933c08da6e9547a54157d05fb$</string>
            <key>textureFileName</key>
            <string>common.pvr.ccz</string>
        </dict>
    </dict>
</plist>
