<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,15}</string>
                <key>spriteSourceSize</key>
                <string>{22,15}</string>
                <key>textureRect</key>
                <string>{{391,15},{22,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>basket_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,10}</string>
                <key>spriteSourceSize</key>
                <string>{5,10}</string>
                <key>textureRect</key>
                <string>{{268,50},{5,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,31}</string>
                <key>spriteSourceSize</key>
                <string>{85,31}</string>
                <key>textureRect</key>
                <string>{{268,15},{85,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,38}</string>
                <key>spriteSourceSize</key>
                <string>{105,38}</string>
                <key>textureRect</key>
                <string>{{56,15},{105,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>needle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,12}</string>
                <key>spriteSourceSize</key>
                <string>{8,12}</string>
                <key>textureRect</key>
                <string>{{391,41},{8,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,7}</string>
                <key>spriteSourceSize</key>
                <string>{630,7}</string>
                <key>textureRect</key>
                <string>{{56,4},{630,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,38}</string>
                <key>spriteSourceSize</key>
                <string>{99,38}</string>
                <key>textureRect</key>
                <string>{{165,15},{99,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,48}</string>
                <key>spriteSourceSize</key>
                <string>{51,48}</string>
                <key>textureRect</key>
                <string>{{4,4},{51,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{357,15},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.pvr.ccz</string>
            <key>size</key>
            <string>{690,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e6fc7833d4b23429b3c0fadef971314:da3bbb509fef9d0febfd1638af9da33e:e611067933c08da6e9547a54157d05fb$</string>
            <key>textureFileName</key>
            <string>common.pvr.ccz</string>
        </dict>
    </dict>
</plist>
